body {
    box-sizing: border-box;
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #2A2D34;
    width: 100%;
    min-height: 500px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px 10px;
}

header {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side-header {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side-header > a {
    margin-left: -10px;
}

.input-search {
    color: #726969;
    margin-left: 30px;
    font-size: 18px;
    border: none;
    padding: 5px 10px;
    width: 600px;
    border-radius: 5px;
}

.right-side-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #726969;
    cursor: pointer;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px 10px;
    font-size: 18px;
}

.log-in {
    background-color: #FFDB4C;
    border: 1px solid #FFDB4C;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}


.menu-list {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-list > li > a {
    padding: 0 20px;
    background-color: #202328;
    border: 2px solid black;
    font-size: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.menu-list li .active {
    background-color: #6D90A8;
}

.film-section {
    width: 100%;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: 1fr 1fr auto;
    justify-items: center;
    align-items: center;
    row-gap: 25px;
    column-gap: 10px;
    background-color: #202328;
}

h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 25px 0 0 0;
    padding-left: 10px;
    background-color: #202328;
    height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.card {
    max-width: 260px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.7s ease;
}

.box-img {
    position: relative;
}

.card-img {
    border-radius: 5px;
}

.box-categories {
    position: absolute;
    top: 15px;
    left: 0;
    width: 85px;
    height: 30px;
    background-color: #6D90A8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.box-ico {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #2A2D34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-rating {
    width: 85px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 55px;
    background-color: #FEDA4C;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #2A2D34;
    margin-top: -5px;
    font-size: 18px;
}

footer {
    min-height: 150px;
    background-color: #202328;
    padding-top: 30px;
}

h3 {
    font-size: 20px;
    margin: 0;
    padding-left: 10px;
}

.list-films > ul {
    display: flex;
    align-items: center;
}

.list-films > ul > li > a {
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
}

